<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="cointainer">
    
    <header>
      <%- include('./partials/header'); %>
    </header>
    
    <main>
      <div class="jumbotron">
          <% for (var i = 0; i<message_list.length;i++){ %>
            <div class="card" style="margin-bottom: 10px;">
              <div class="card-body">
                <h5 class="card-title"><%= message_list[i].content %></h5>
                <p class="card-text">by <%= message_list[i].owner.name %> - <%= message_list[i].due_formatted %></p>
                <p class="card-text"></p>
              </div>
            </div>
          <% } %>
      </div>
    </main>
    
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>